<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add name="DollarComputerContext" connectionString="data source=sqlserver10.loosefoot.com;initial catalog=comp1098;persist security info=True;user id=csharp1098;password=Georgian2020;MultipleActiveResultSets=True;App=EntityFramework"
        providerName="System.Data.SqlClient" />
    <add name="DollarComputerConnection" connectionString="data source=sqlserver10.loosefoot.com;initial catalog=comp1098;persist security info=True;user id=csharp1098;password=Georgian2020;MultipleActiveResultSets=True;App=EntityFramework"
        providerName="System.Data.SqlClient" />
    <add name="DollarComputers.Properties.Settings.comp1098ConnectionString"
        connectionString="Data Source=sqlserver10.loosefoot.com;Initial Catalog=comp1098;Persist Security Info=True;User ID=csharp1098;Password=Georgian2020"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>